body {
    background-color: #222;
    color: rgb(222, 49, 49);
    font-family: Arial, sans-serif;
    font-size: 16px;
}

#canvas-container {
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#canvas {
    border: 5px solid rgb(36, 19, 191);
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#start-game-btn,
#join-game-btn {
    background-color: white;
    border: none;
    border-radius: 5px;
    color: #222;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out;
}

#start-game-btn:hover,
#join-game-btn:hover {
    background-color: #ccc;
}

#name {
    background-color: #444;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    margin-right: 20px;
    width: 200px;
}

#name:focus {
    outline: none;
}

#scoreboard {
    display: flex;
    justify-content: space-between;
    margin-top: 210px;
}

#countdown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200px;
    font-weight: bold;
    color: #ccc;
    text-shadow: 2px 2px 4px #000;
}

#score-table {
    position: absolute;
    top: 70;
    left: 41%;
    transform: translateX(-50%);
    transform: translateY(80%);
    width: 500px;
}


#score-table table {
    top: 50;
    border-collapse: collapse;
    width: 100%;
}

#score-table th {
    background-color: #444;
    color: rgb(122, 17, 17);
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

#score-table td {
    background-color: #555;
    color: white;
    font-size: 24px;
    padding: 10px;
    text-align: left;
}

#player1-score,
#player2-score {
    font-size: 28px;
    font-weight: bold;
}