<!-- passwordResetTemplate.html -->
<div style="background-color: #202124; padding: 30px; font-size: 16px; color: #F9F5EB; font-family: Arial, sans-serif;">
  <div style="font-size: 24px; font-weight: bold; margin-bottom: 30px;">Password Reset Request</div>
  <div style="font-size: 18px; margin-bottom: 30px;">Hello <%= user.username %>,</div>
  <div style="font-size: 18px; margin-bottom: 30px;">We received a request to reset your password. If you did not make this request, please ignore this email.</div>
  <div style="margin-bottom: 30px;">
    <a href="<%= resetLink %>" style="display: inline-block; background-color: #3f51b5; color: #fff; padding: 15px 25px; border-radius: 5px; text-decoration: none; font-size: 18px; font-weight: bold;">Reset Password</a>
  </div>
  <div style="font-size: 18px; margin-bottom: 30px;">Alternatively, you can copy and paste the following URL into your browser:</div>
  <div style="font-size: 18px; margin-bottom: 30px;"><%= resetLink %></div>
  <div style="font-size: 18px;">If you have any questions, please don't hesitate to contact us.</div>
  <div style="font-size: 18px;">Thanks,<br>The Team</div>
</div>
